# Churn Prediction Model

In [1]:
!pip install imblearn

Requirement already satisfied: imblearn in /Users/akashyadav/miniforge3/lib/python3.10/site-packages (0.0)
Requirement already satisfied: imbalanced-learn in /Users/akashyadav/miniforge3/lib/python3.10/site-packages (from imblearn) (0.9.1)
Requirement already satisfied: scikit-learn>=1.1.0 in /Users/akashyadav/miniforge3/lib/python3.10/site-packages (from imbalanced-learn->imblearn) (1.1.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/akashyadav/miniforge3/lib/python3.10/site-packages (from imbalanced-learn->imblearn) (3.1.0)
Requirement already satisfied: scipy>=1.3.2 in /Users/akashyadav/miniforge3/lib/python3.10/site-packages (from imbalanced-learn->imblearn) (1.9.3)
Requirement already satisfied: joblib>=1.0.0 in /Users/akashyadav/miniforge3/lib/python3.10/site-packages (from imbalanced-learn->imblearn) (1.2.0)
Requirement already satisfied: numpy>=1.17.3 in /Users/akashyadav/miniforge3/lib/python3.10/site-packages (from imbalanced-learn->imblearn) (1.23.2)

In [2]:
!pip install -U imbalanced-learn

Requirement already satisfied: imbalanced-learn in /Users/akashyadav/miniforge3/lib/python3.10/site-packages (0.9.1)
Requirement already satisfied: scikit-learn>=1.1.0 in /Users/akashyadav/miniforge3/lib/python3.10/site-packages (from imbalanced-learn) (1.1.3)
Requirement already satisfied: joblib>=1.0.0 in /Users/akashyadav/miniforge3/lib/python3.10/site-packages (from imbalanced-learn) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/akashyadav/miniforge3/lib/python3.10/site-packages (from imbalanced-learn) (3.1.0)
Requirement already satisfied: numpy>=1.17.3 in /Users/akashyadav/miniforge3/lib/python3.10/site-packages (from imbalanced-learn) (1.23.2)
Requirement already satisfied: scipy>=1.3.2 in /Users/akashyadav/miniforge3/lib/python3.10/site-packages (from imbalanced-learn) (1.9.3)

In [ ]:
!pip list

In [4]:
#importing Libraries
import pandas as pd
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.metrics import recall_score
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.tree import DecisionTreeClassifier
from imbalanced-learn.combine import SMOTEENN
print("Libraries Imported")

ModuleNotFoundError: No module named 'imbalancedlearn'

#### Reading DataFrame

In [7]:
df = pd.read_csv('telecom_churn.csv')
print('DataFrame Created')

DataFrame Created

In [8]:
df.head()

,Unnamed: 0,SeniorCitizen,MonthlyCharges,TotalCharges,Churn,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,...,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,tenure_group_1 - 12,tenure_group_13 - 24,tenure_group_25 - 36,tenure_group_37 - 48,tenure_group_49 - 60,tenure_group_61 - 72
0,0,0,29.85,29.85,0,1,0,0,1,1,...,0,0,1,0,1,0,0,0,0,0
1,1,0,56.95,1889.50,0,0,1,1,0,1,...,0,0,0,1,0,0,1,0,0,0
2,2,0,53.85,108.15,1,0,1,1,0,1,...,0,0,0,1,1,0,0,0,0,0
3,3,0,42.30,1840.75,0,0,1,1,0,1,...,1,0,0,0,0,0,0,1,0,0
4,4,0,70.70,151.65,1,1,0,1,0,1,...,0,0,1,0,1,0,0,0,0,0

In [10]:
#deleting unnamed column
df.drop('Unnamed: 0',axis=1)

,SeniorCitizen,MonthlyCharges,TotalCharges,Churn,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,...,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,tenure_group_1 - 12,tenure_group_13 - 24,tenure_group_25 - 36,tenure_group_37 - 48,tenure_group_49 - 60,tenure_group_61 - 72
0,0,29.85,29.85,0,1,0,0,1,1,0,...,0,0,1,0,1,0,0,0,0,0
1,0,56.95,1889.50,0,0,1,1,0,1,0,...,0,0,0,1,0,0,1,0,0,0
2,0,53.85,108.15,1,0,1,1,0,1,0,...,0,0,0,1,1,0,0,0,0,0
3,0,42.30,1840.75,0,0,1,1,0,1,0,...,1,0,0,0,0,0,0,1,0,0
4,0,70.70,151.65,1,1,0,1,0,1,0,...,0,0,1,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7027,0,84.80,1990.50,0,0,1,0,1,0,1,...,0,0,0,1,0,1,0,0,0,0
7028,0,103.20,7362.90,0,1,0,0,1,0,1,...,0,1,0,0,0,0,0,0,0,1
7029,0,29.60,346.45,0,1,0,0,1,0,1,...,0,0,1,0,1,0,0,0,0,0
7030,1,74.40,306.60,1,0,1,0,1,1,0,...,0,0,0,1,1,0,0,0,0,0
7031,0,105.65,6844.50,0,0,1,1,0,1,0,...,1,0,0,0,0,0,0,0,0,1

### Creating X and Y dependent variables

In [12]:
#x variable
x = df.drop('Churn',axis=1)
x

,Unnamed: 0,SeniorCitizen,MonthlyCharges,TotalCharges,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,...,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,tenure_group_1 - 12,tenure_group_13 - 24,tenure_group_25 - 36,tenure_group_37 - 48,tenure_group_49 - 60,tenure_group_61 - 72
0,0,0,29.85,29.85,1,0,0,1,1,0,...,0,0,1,0,1,0,0,0,0,0
1,1,0,56.95,1889.50,0,1,1,0,1,0,...,0,0,0,1,0,0,1,0,0,0
2,2,0,53.85,108.15,0,1,1,0,1,0,...,0,0,0,1,1,0,0,0,0,0
3,3,0,42.30,1840.75,0,1,1,0,1,0,...,1,0,0,0,0,0,0,1,0,0
4,4,0,70.70,151.65,1,0,1,0,1,0,...,0,0,1,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7027,7038,0,84.80,1990.50,0,1,0,1,0,1,...,0,0,0,1,0,1,0,0,0,0
7028,7039,0,103.20,7362.90,1,0,0,1,0,1,...,0,1,0,0,0,0,0,0,0,1
7029,7040,0,29.60,346.45,1,0,0,1,0,1,...,0,0,1,0,1,0,0,0,0,0
7030,7041,1,74.40,306.60,0,1,0,1,1,0,...,0,0,0,1,1,0,0,0,0,0
7031,7042,0,105.65,6844.50,0,1,1,0,1,0,...,1,0,0,0,0,0,0,0,0,1

In [13]:
#y variable
y=df['Churn']
y

0       0
1       0
2       1
3       0
4       1
       ..
7027    0
7028    0
7029    0
7030    1
7031    0
Name: Churn, Length: 7032, dtype: int64

## Creating variables for Training and Testing of Data
## Train Test Split

In [14]:
#Train and Test
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)
# .2 means if we have 1000 record then 800 for training and 200 for testing

## Decision Tree Classifier

In [16]:
#Decision Tree Model
dt_model  = DecisionTreeClassifier(criterion = "gini",random_state = 100,max_depth=6, min_samples_leaf=8)
print('Decision Tree Classifier ')

Decision Tree Classifier

Fitting Data in model

In [17]:
dt_model.fit(x_train,y_train)

DecisionTreeClassifier(max_depth=6, min_samples_leaf=8, random_state=100)

Predicting the churn on the testing data x_test

In [19]:
#predict variable
y_predict = dt_model.predict(x_test)
print('Success')

Success

In [20]:
#checking y_predict
y_predict

array([0, 0, 1, ..., 0, 0, 1])

## Comparing the y_predict value to the actual y value

In [24]:
dt_model.score(x_test,y_test)

0.7896233120113717

Model Report

In [26]:
print(classification_report(y_test, y_predict, labels=[0,1]))

              precision    recall  f1-score   support

           0       0.83      0.90      0.86      1016
           1       0.66      0.51      0.57       391

    accuracy                           0.79      1407
   macro avg       0.74      0.70      0.72      1407
weighted avg       0.78      0.79      0.78      1407

0 - Non Churners
1 - Churners
Model Accouracy is all about 78% which is not good because of imbalanced data.

Printing Confusion Matrix : 
True Positive (TP)        False Positive (FP)
Fasle Negative (FN)       True Negative (TN)

Accuracy = (TP+TN)/Total

In [27]:
#confusion Matrix
print(confusion_matrix(y_test,y_predict))

[[913 103]
 [193 198]]

In [30]:
#printing Accuracy Precentage
print((913+198)*100/(103+193+913+198))

78.96233120113718

## Conclusion of Decision Tree Model
Accuracy of Model is not good because of Imbalanced Data

In [9]:
from imblearn.combine import SMOTEENN

ModuleNotFoundError: No module named 'imblearn'

In [1]:
from imblearn.combine import SMOTEENN

ModuleNotFoundError: No module named 'imblearn'